/* ProductList.module.css */
.productListCustomArrow {
  float: right;
  cursor: none;
}

.productListCustomArrowRightButton {
  background-color: white;
  border: none;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.productListCustomArrowLeftButton {
  background-color: white;
  border: none;
}

.productListCustomArrowRightImg {
  border-radius: 50%;
  width: 50px;
  border: none;
}

.productListCustomArrowLeftImg {
  border-radius: 50%;
  width: 50px;
  border: none;
}

.emptyFilterText {
  margin: 20px;
}

@media only screen and (max-width: 630px) {
  .productListCustomArrow {
    display: none;
  }
}
